<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Pankaj Dangi | About</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />

<style>
body {
	padding-top: 5px;
	background: #f8f9fa;
}

.skill-img {
	height: 200px;
	object-fit: cover;
}
</style>

</head>


<body class="container-fluid">
	<!-- Navbar -->

	<nav
		class=" navbar navbar-expand-lg w-full fixed-top-0 left-0 bg-white dark:bg-gray-900 shadow z-50 ">

		<div
			class="container-fluid bg-secondary max-w-6x1 mx-auto flex items-center justify-between px4 py3 bg-dark">
			<div class=" dropdown">
				<img src="image/pklogo.png" class="rounded-circle" height="60"
					alt="Black and White Portrait of a Man" /> <span
					class="text-white">Pankaj Dangi</span>

			</div>
			<div class="align-items-center w-500">
				<button class="navbar-toggler text-bg-light" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon text-bg-light"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a
							class="nav-link active text-light bg-dark" aria-current="page"
							href="/">Home</a></li>
						<li class="nav-item"><a
							class="nav-link active text-light bg-dark" aria-current="page"
							href="about">About</a></li>
						<li class="nav-item"><a
							class="nav-link active text-light bg-dark" aria-current="page"
							href="skills">Skills</a></li>
						<li class="nav-item"><a
							class="nav-link active text-light bg-dark" aria-current="page"
							href="project">Project</a></li>
						<li class="nav-item"><a
							class="nav-link active text-light bg-dark" aria-current="page"
							href="contact">Contact</a></li>
					</ul>

				</div>
			</div>
		</div>

	</nav>



	<!-- ABOUT SECTION -->

	<section class="py-5">

		<div class="container">

			<h1 class="text-center mb-5">
				About <span class="text-danger">Me</span>
			</h1>

			<div class="row align-items-center">

				<div class="col-lg-6 mb-4">

					<h3 class="text-danger mb-3">Information About Me</h3>

					<p class="text-muted">

						Hello! I'm <strong>Pankaj Dangi</strong>, an aspiring Java Full
						Stack Developer with a strong interest in building responsive and
						user-friendly web applications.

					</p>

					<p class="text-muted">I specialize in the Java technology stack
						including Spring Boot, Advanced Java, MongoDB, MySQL, and modern
						frontend tools such as HTML, CSS, JavaScript and Bootstrap.</p>

					<p class="text-muted">As a fresher developer, I enjoy learning
						new technologies, solving real-world problems and building
						practical web applications that provide smooth user experiences.</p>

				</div>


				<div class="col-lg-6 text-center">

					<img th:src="@{/image/pankajabout.png}"
						class="img-fluid rounded-5 shadow" style="max-height: 420px">

				</div>

			</div>

		</div>

	</section>



	<!-- SKILLS SECTION -->

	<section class="bg-dark py-5 rounded-5 container">

		<div class="container">

			<div class="row g-4">


				<!-- FRONTEND -->

				<div class="col-md-4 ">

					<div class="card h-100 shadow rounded-5">

						<div class="card-body text-center rounded-5">

							<h4 class="text-danger mb-3">Frontend Web</h4>

							<hr>

							<p>HTML</p>
							<p>CSS</p>
							<p>JavaScript</p>
							<p>Bootstrap</p>

							<img th:src="@{/image/webabout.jpg}"
								class="img-fluid rounded-5 mt-3">

						</div>

					</div>

				</div>



				<!-- BACKEND -->

				<div class="col-md-4">

					<div class="card h-100 shadow rounded-5">

						<div class="card-body text-center">

							<h4 class="text-danger mb-3">Backend & Database</h4>

							<hr>

							<p>Java</p>
							<p>Advanced Java</p>
							<p>Spring Boot</p>
							<p>MySQL</p>
							<p>MongoDB</p>

							<img th:src="@{/image/javaabout.jpg}"
								class="img-fluid rounded-5 mt-3">

						</div>

					</div>

				</div>



				<!-- VERSION CONTROL -->

				<div class="col-md-4">

					<div class="card h-100 shadow rounded-5">

						<div class="card-body text-center">

							<h4 class="text-danger mb-3">Version Control</h4>

							<hr>

							<p>Git</p>
							<p>GitHub</p>

							<img th:src="@{/image/gith.jpg}"
								class="img-fluid rounded-5 mt-3 ">

						</div>

					</div>

				</div>


			</div>

		</div>

	</section>

	<br>



	<!-- Footer -->
	<footer
		class="text-center text-lg-start bg-body-tertiary text-muted rounded-5">
		<div
			class="container-fluid bg-secondary max-w-6x1 mx-auto flex items-center justify-between px4 py3 bg-dark">
			<!-- Section: Social media -->
			<section
				class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
				<!-- Left -->
				<div class="me-5 d-none d-lg-block">
					<h2 class="fw-bold text-white">
						Let's <span class="fw-bold mb-4 text-danger"> Connect</span> there
					</h2>
				</div>
				<!-- Left -->

				<!-- Right -->
				<div>
					<a href="https://www.facebook.com/profile.php?id=100081054109854"
						class="me-4 text-reset"> <i
						class="fab fa-facebook-f text-white"></i>
					</a> <a href="https://www.instagram.com" class="me-4 text-reset"> <i
						class="fab fa-instagram text-white"></i>
					</a> <a href="https://github.com" class="me-4 text-reset "> <i
						class="fab fa-github text-white"></i>
					</a>
				</div>
				<!-- Right -->
			</section>
			<!-- Section: Social media -->

			<!-- Section: Links  -->
			<section class="">
				<div class="container text-center text-md-start mt-5">
					<!-- Grid row -->
					<div class="row mt-3">
						<!-- Grid column -->
						<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
							<!-- Content -->
							<h6 class="text-uppercase fw-bold mb-4">
								<i class="fas fa-gem me-3 text-light"></i> <span
									class="text-white">Pankaj Dangi</span>
							</h6>
							<p class="text-white">JAVA Full Stack Developer with a strong
								foundation in full-stack web development. Passionate about
								crafting responsive, user-friendly web apps and always open to
								new learning opportunities.</p>
						</div>

						<!-- Grid column -->
						<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4 text-danger">
								Navigation</h6>
							<p class="text-white">
								<a href="/" class="text-reset">Home</a>
							</p>
							<p class="text-white">
								<a href="about" class="text-reset">About me</a>
							</p>
							<p class="text-white">
								<a href="skills" class="text-reset">Skills</a>
							</p>
							<p class="text-white">
								<a href="project" class="text-reset">Project</a>
							</p>
							<p class="text-white">
								<a href="contact" class="text-reset">Contact me</a>
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4 text-danger">Contact</h6>
							<p class="text-white">
								<i class="fas fa-home me-3"></i> Zone-1 Maharana Pratap Nagar
								Bhopal, Madhya Pradesh, India, 462011
							</p>
							<p class="text-white">
								<i class="fas fa-envelope me-3"></i> pad88899123@gmail.com
							</p>
							<p class="text-white">
								<i class="fas fa-phone me-3"></i> +91 9039082005
							</p>
						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row -->
				</div>
			</section>
		</div>
	</footer>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>