<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Pankaj Dangi | Home</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
	integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="container-fluid  ">
	<!-- Navbar -->

	<nav
		class=" navbar navbar-expand-lg w-full fixed-top-0 left-0 bg-white dark:bg-gray-900 shadow z-50 ">

		<div
			class="container-fluid bg-secondary max-w-6x1 mx-auto flex items-center justify-between px4 py3 bg-dark">
			<div class=" dropdown">
				<img src="image/pklogo.png" class="rounded-circle" height="60"
					alt="Black and White Portrait of a Man" /> <span
					class="text-white">Pankaj Dangi</span>

			</div>
			<div class="align-items-center w-500">
				<button class="navbar-toggler text-bg-light" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon text-bg-light"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a
							class="nav-link active text-light bg-dark" aria-current="page"
							href="/">Home</a></li>
						<li class="nav-item"><a
							class="nav-link active text-light bg-dark" aria-current="page"
							href="about">About</a></li>
						<li class="nav-item"><a
							class="nav-link active text-light bg-dark" aria-current="page"
							href="skills">Skills</a></li>
						<li class="nav-item"><a
							class="nav-link active text-light bg-dark" aria-current="page"
							href="project">Project</a></li>
						<li class="nav-item"><a
							class="nav-link active text-light bg-dark" aria-current="page"
							href="contact">Contact</a></li>
					</ul>

				</div>
			</div>
		</div>

	</nav>


	<div class="container">
		<div class="container-fluid mybody mt-5 pt-5">
			<div class="container pt-4 pb-2">
				<div class="row py-5">
					<div
						class="col-12 col-md-6 py-4 align-content-center aos-init aos-animate"
						data-aos="fade-right">
						<span
							class="border border-2 rounded-4 p-2 text-secondary fs-5 myft">Hello
							!</span>
						<h1 class="mt-4 text-danger-emphasis">I'm Pankaj Dangi</h1>
						<p class="text-secondary mt-4 fs-6">I'm a passionate JAVA
							Stack Developer with strong hands-on experience building
							full-stack web applications using MongoDB, Advance Java, and
							Spring boot. As a fresher, I’m driven by curiosity, clean code,
							and a strong desire to solve real-world problems through
							technology.</p>
						&emsp; <br>
						<br> <a href="/register"
							class="bg-danger text-white p-2 rounded-4 border-0 px-3 text-decoration-none d-inline-block">DownLoad
							Makshet and Certificate</a>

					</div>
					<div
						class="col-12 col-md-6 d-flex justify-content-center align-items-center aos-init aos-animate"
						data-aos="fade-up">
						<img src="image/pankajabout.png" height="400"
							class="card-img-top rounded-5" alt="Pankaj">
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="container">
		<div
			class="container-fluid text-center p-5 rounded-5 my-5 border border-black p-5 border-3 m-2 bg-dark">
			<h2 class="text-white mb-2 aos-init" data-aos="fade-right"
				data-aos-duration="1000">
				My <span class="text-danger">Services</span>
			</h2>
			<hr class="text-white">

			<div class="g-4 my-5 row row-cols-lg-3 row-cols-md-2 row-cols-1">
				<div data-aos="fade-up" data-aos-duration="1200"
					class="col aos-init">
					<div class="rounded-5 bgblured h-100 card">
						<div class="text-light card-body">
							<div class="ctitle card-title h5">
								<h3 class="d-flex justify-content-between px-2">
									<span class="text-danger">Frontend Design</span>
								</h3>
							</div>
							<hr class="text-dark">
							<p class="text-dark">I design responsive, modern, and clean
								UIs using HTML, CSS, JavaScript, and Bootstrap to ensure a
								smooth user experience.</p>
							<img src="image/appdesignhomefd.jpg" height="200"
								class="card-img-top rounded-5" alt="...">
						</div>
					</div>
				</div>


				<div data-aos="fade-up" data-aos-duration="1200"
					class="col aos-init">
					<div class="rounded-5 bgblured h-100 card">
						<div class="text-light card-body">
							<div class="ctitle card-title h5">
								<h3 class="d-flex justify-content-between px-2">
									<span class="text-danger">Backend Design</span>
								</h3>
							</div>
							<hr class="text-dark">
							<p class="text-dark">I develop powerful and scalable backends
								using Advance Java, Spring Boot, and MongoDB, focusing on
								performance and security.</p>
							<img src="image/javaabout.jpg" height="200"
								class="card-img-top rounded-5" alt="...">
						</div>
					</div>
				</div>


				<div data-aos="fade-up" data-aos-duration="1200"
					class="col aos-init">
					<div class="rounded-5 bgblured h-100 card">
						<div class="text-light card-body">
							<div class="ctitle card-title h5">
								<h3 class="d-flex justify-content-between px-2">
									<span class="text-danger">Git&GitHub</span>
								</h3>
							</div>
							<hr class="text-dark">
							<p class="text-dark">I manage version control efficiently
								using Git and GitHub, enabling collaboration, tracking changes,
								and maintaining clean codebases.</p>
							<img src="image/landingpghomeggh.jpg" height="200"
								class="card-img-top rounded-5" alt="...">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>




	<div class="container my-5">
		<h1 class="text-center aos-init aos-animate" data-aos="zoom-in"
			data-aos-duration="1000">
			Questions? <span class="text-danger">Look Here.</span>
		</h1>
		<p class="mt-4 text-center text-muted fs-6">Find answers about me
			and how I work.</p>
		<div class="p-4 mt-4 aos-init aos-animate" data-aos="fade-up"
			data-aos-duration="1200">
			<div class="custom-accordion accordion">


				<div class="accordion accordion-flush" id="accordionFlushExample">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed text-bg-light"
								type="button" data-bs-toggle="collapse"
								data-bs-target="#flush-collapseOne" aria-expanded="false"
								aria-controls="flush-collapseOne">What technologies are
								used in your projects ?</button>
						</h2>
						<div id="flush-collapseOne" class="accordion-collapse collapse"
							data-bs-parent="#accordionFlushExample">
							<div class="accordion-body text-bg-light">My projects are
								built using the JAVA Full stack: MongoDB, Advance JAVA and
								Spring boot. They are styled with Bootstrap and custom CSS.</div>
						</div>
					</div>
					<br>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed text-bg-light"
								type="button" data-bs-toggle="collapse"
								data-bs-target="#flush-collapseTwo" aria-expanded="false"
								aria-controls="flush-collapseTwo">Can I view the code
								of your projects ?</button>
						</h2>
						<div id="flush-collapseTwo" class="accordion-collapse collapse"
							data-bs-parent="#accordionFlushExample">
							<div class="accordion-body text-bg-light">Yes! All project
								source code is available on my GitHub, linked in the Projects
								section of my portfolio.</div>
						</div>
					</div>
					<br>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed text-bg-light"
								type="button" data-bs-toggle="collapse"
								data-bs-target="#flush-collapseThree" aria-expanded="false"
								aria-controls="flush-collapseThree">Can i download your
								Resume/CV for information ?</button>
						</h2>
						<div id="flush-collapseThree" class="accordion-collapse collapse"
							data-bs-parent="#accordionFlushExample">
							<div class="accordion-body text-bg-light">Certainly! You
								can download my resume/CV directly from my website. It provides
								a comprehensive overview of my education, work experience, and
								design achievements.</div>
						</div>
					</div>
				</div>
			</div>



		</div>
	</div>

	</div>



	<!-- Footer -->
	<footer
		class="text-center text-lg-start bg-body-tertiary text-muted rounded-5">
		<div
			class="container-fluid bg-secondary max-w-6x1 mx-auto flex items-center justify-between px4 py3 bg-dark">
			<!-- Section: Social media -->
			<section
				class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
				<!-- Left -->
				<div class="me-5 d-none d-lg-block">
					<h2 class="fw-bold text-white">
						Let's <span class="fw-bold mb-4 text-danger"> Connect</span> there
					</h2>
				</div>
				<!-- Left -->

				<!-- Right -->
				<div>
					<a href="https://www.facebook.com/profile.php?id=100081054109854"
						class="me-4 text-reset"> <i
						class="fab fa-facebook-f text-white"></i>
					</a> <a href="https://www.instagram.com" class="me-4 text-reset"> <i
						class="fab fa-instagram text-white"></i>
					</a> <a href="https://github.com" class="me-4 text-reset "> <i
						class="fab fa-github text-white"></i>
					</a>
				</div>
				<!-- Right -->
			</section>
			<!-- Section: Social media -->

			<!-- Section: Links  -->
			<section class="">
				<div class="container text-center text-md-start mt-5">
					<!-- Grid row -->
					<div class="row mt-3">
						<!-- Grid column -->
						<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
							<!-- Content -->
							<h6 class="text-uppercase fw-bold mb-4">
								<i class="fas fa-gem me-3 text-light"></i> <span
									class="text-white">Pankaj Dangi</span>
							</h6>
							<p class="text-white">JAVA Full Stack Developer with a strong
								foundation in full-stack web development. Passionate about
								crafting responsive, user-friendly web apps and always open to
								new learning opportunities.</p>
						</div>

						<!-- Grid column -->
						<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4 text-danger">
								Navigation</h6>
							<p class="text-white">
								<a href="/" class="text-reset">Home</a>
							</p>
							<p class="text-white">
								<a href="about" class="text-reset">About me</a>
							</p>
							<p class="text-white">
								<a href="skills" class="text-reset">Skills</a>
							</p>
							<p class="text-white">
								<a href="project" class="text-reset">Project</a>
							</p>
							<p class="text-white">
								<a href="contact" class="text-reset">Contact me</a>
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4 text-danger">Contact</h6>
							<p class="text-white">
								<i class="fas fa-home me-3"></i> Zone-1 Maharana Pratap Nagar
								Bhopal, Madhya Pradesh, India, 462011
							</p>
							<p class="text-white">
								<i class="fas fa-envelope me-3"></i> pad88899123@gmail.com
							</p>
							<p class="text-white">
								<i class="fas fa-phone me-3"></i> +91 9039082005
							</p>
						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row -->
				</div>
			</section>
		</div>
	</footer>
	<!-- Footer -->


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
		crossorigin="anonymous">
    </script>
</body>

</html>